body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.juic {
    margin-top: 50px;
    position: relative;
}

.juic img {
    display: block;
    margin: 0px auto;
    width: 200px;

}

.tags {
    font-size: 100px;
    color: #d7adc8;
    text-align: center;
    margin-top: 20px;
}

